In [1]:
import pandas as pd

# Series

It's an object, similar to List in Python. 
It has attributes of:
- index
- name

By passing one column name in dataframe, it returns a Series

In [2]:
df = pd.read_csv('sample.csv')
departmentSeries = df['department']

In [3]:
departmentSeries

0    computer
1       music
2     medical
Name: department, dtype: object

You can fetch the attributes by following

In [4]:
departmentSeries.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
departmentSeries.name

'department'

## Read
By passing the index

In [6]:
departmentSeries[0]

'computer'

### iterate

#### over every value

In [7]:
for item in departmentSeries:
    print(item)

computer
music
medical

#### over every (index, value) pair

By `items()`

In [8]:
for index, value in departmentSeries.items():
    print(index, value)

0 computer
1 music
2 medical

### check if a value is in Series

One cannot simply use `in` to test.

In [9]:
'computer' in departmentSeries

False

You must use `.values` to **create an narray**, then iterate

In [10]:
'computer' in departmentSeries.values

True

### `series.str` handling

[Series handling](https://pandas.pydata.org/docs/reference/series.html#api-series-str)

> Series.str can be used to access the values of the series as strings and apply several methods to it

In [11]:
df['department'].str.capitalize()

0    Computer
1       Music
2     Medical
Name: department, dtype: object

## Update

Update by index

In [12]:
departmentSeries.iloc[1] = 'Music'
departmentSeries

/tmp/ipykernel_5171/1860361975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  departmentSeries.iloc[1] = 'Music'

0    computer
1       Music
2     medical
Name: department, dtype: object

## Filter

It's common to filter/mask the data you want.

1. Simply provide the condition in the series, then you will get an boolean array.
2. pass that array to the dataframe, you will get new dataframe

In [13]:
desired_numbers = (df['student_no'] == 101)

In [14]:
df[desired_numbers]

Empty DataFrame
Columns: [student_no, department]
Index: []

More frequently, some make it more compact.

In [15]:
df[df['student_no'] == 101]

Empty DataFrame
Columns: [student_no, department]
Index: []

### Get the unique item from a series

In [17]:
df['department'].unique()

array(['computer', 'Music', 'medical'], dtype=object)