# DataFrame

In [1]:
import pandas as pd

In [3]:
hashmap = {'One': [1, 2, 3], 'Second': [4, 5, 6]}

In [5]:
pd.DataFrame(hashmap)

   One  Second
0    1       4
1    2       5
2    3       6

In [9]:
hashmap = {'John': ["Brother"], "Tommy": ["Boss"]}
pd.DataFrame(hashmap)

      John Tommy
0  Brother  Boss

These are `dictionary:list` structure.

However, you must pass in list as its value. Otherwise it will through an exception

In [21]:
hashmap = {'Finn': 12}

try:
    pd.DataFrame(hashmap)
except ValueError as error:
    print("error occurs")

error occurs

The way to go around this is to specify the index

In [22]:
pd.DataFrame(hashmap, index=["age"])

     Finn
age    12

# Series

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [23]:
import numpy as np

numbers = np.arange(1, 5, 1)

In [24]:
numbers

array([1, 2, 3, 4])

In [27]:
pd.Series(numbers)

0    1
1    2
2    3
3    4
dtype: int64

The `name` keyword works like the table column name:
|Numpy numbers|
|-|
|1|
|2|

In [28]:
pd.Series(numbers, name='Numpy numbers')

0    1
1    2
2    3
3    4
Name: Numpy numbers, dtype: int64

In fact, the dataframe is a merely composition of 1 to many series concatenation

In [30]:
intergetMap = {'One': [1, 2, 3], 'Second': [4, 5, 6]}
df = pd.DataFrame(intergetMap)

# acquire a seires
df['One']

0    1
1    2
2    3
Name: One, dtype: int64

## Read from CSV file

In [32]:
%ls

cancer.csv                     panda_playground.ipynb  Series.ipynb
create_read_write.ipynb        pandas.ipynb            telco_churn.csv
iloc_loc_label_location.ipynb  pandas.md               Untitled.ipynb
output.csv                     sample.csv

In [35]:
sample_df = pd.read_csv("sample.csv")
sample_df

   student_no department
0           1   computer
1           2      music
2           3    medical

Quite often, the file might provide the index. In this dataset, `unnamed` is it. To use that as index:

`pd.read_csv(index_col="#")`

In [36]:
pd.read_csv("sample.csv", index_col=0)

   student_no department
0           1   computer
1           2      music
2           3    medical