In [1]:
import pandas as pd
import numpy as np

age_list = np.random.randint(18, 60, (10, 2))

# a random dataframe
df = pd.DataFrame(age_list, columns=['age', 'time'])
df.head()

   age  time
0   53    31
1   57    45
2   52    46
3   49    22
4   48    55

# Summary functions

In [2]:
df.describe()

             age       time
count  10.000000  10.000000
mean   48.400000  37.100000
std     8.382521  11.713715
min    29.000000  21.000000
25%    47.250000  29.500000
50%    50.500000  36.500000
75%    53.750000  45.750000
max    57.000000  55.000000

In [3]:
# on dataframe
df.mean()

# on Series
df['age'].mean()
df['age'].sum()

484

In [4]:
df['age'].unique()

array([53, 57, 52, 49, 48, 29, 55, 40, 54, 47])

In [5]:
df['time'].value_counts()

# It works on boolean
bool_count = pd.Series([True, True, False, False, True, False])
bool_count.value_counts()[True] == bool_count.value_counts().loc[True]

True

In [6]:
# cool enough, use sum() will count the True value
bool_count.sum()

3

## Shorthand for mapping

This shows how dynamic pandas, python is.

In [7]:
# Series divide by a single int
df['age'] / 100

0    0.53
1    0.57
2    0.52
3    0.49
4    0.48
5    0.29
6    0.55
7    0.40
8    0.54
9    0.47
Name: age, dtype: float64

In [8]:
# Series divide by a Series
df['age'] / df['time']

0    1.709677
1    1.266667
2    1.130435
3    2.227273
4    0.872727
5    0.591837
6    1.718750
7    1.904762
8    1.862069
9    1.146341
dtype: float64

In [9]:
df = pd.read_csv("telco_churn.csv")

# concatenation
df["State"] + "and plan :" + df["International plan"]

0        KSand plan :No
1        OHand plan :No
2        NJand plan :No
3       OHand plan :Yes
4       OKand plan :Yes
             ...
3328     AZand plan :No
3329     WVand plan :No
3330     RIand plan :No
3331    CTand plan :Yes
3332     TNand plan :No
Length: 3333, dtype: object

In [10]:
# Series divide by a single int
df['age'] / 100

KeyError: 'age'

In [ ]:
# Series divide by a Series
df['age'] / df['time']

In [ ]:
df = pd.read_csv("telco_churn.csv")

# concatenation
df["State"] + "and plan :" + df["International plan"]