In [1]:
import pandas as pd
import numpy as np

technologies= {
    'Fee' :[22000,25000,23000,np.NaN,26000],
    'Duration':['30days','50days','30days','35days','40days']
          }

df = pd.DataFrame(technologies)
df

       Fee Duration
0  22000.0   30days
1  25000.0   50days
2  23000.0   30days
3      NaN   35days
4  26000.0   40days

# with dict

map/reflect each value based on the dict

In [2]:
hashmap = {'30days': 100, '40days': 150, '50days': 200}

df['tax'] = df['Duration'].map(hashmap)
df

       Fee Duration    tax
0  22000.0   30days  100.0
1  25000.0   50days  200.0
2  23000.0   30days  100.0
3      NaN   35days    NaN
4  26000.0   40days  150.0

# with function

It works on one row at a time

In [3]:
def cus_function(each):
    print("Doing work")
    return each + 1500

df['Fee'].map(cus_function)

Doing work
Doing work
Doing work
Doing work
Doing work

0    23500.0
1    26500.0
2    24500.0
3        NaN
4    27500.0
Name: Fee, dtype: float64

# with lambda

In [4]:
out = df['Fee'].map(lambda each : each + 1500)

In [5]:
bool_count = pd.Series([True, True, False, False, True, False])
bool_count.value_counts()[True] == bool_count.value_counts().loc[True]

True

In [6]:
bool_count.sum()

3

## Apply

Apply upon dataframe to create  a dataframe

`df.apply(func, axis=$)`

axis: {0 or ‘index’, 1 or ‘columns’}, default 0

In [7]:
age_list = np.random.randint(18, 60, (10, 2))
df = pd.DataFrame(age_list, columns=['age', 'time'])

def more_cols(df : pd.DataFrame) -> pd.DataFrame:
    df['age'] = df['age'] + 100
    df['time'] = df['time'] - 100
    return df

# target the "columns". the series
df.apply(more_cols, axis='columns')

   age  time
0  121   -52
1  141   -43
2  131   -78
3  155   -61
4  156   -68
5  151   -57
6  146   -67
7  120   -58
8  145   -47
9  136   -47

In [8]:
def on_index(df : pd.DataFrame) -> pd.DataFrame:
    return df + 1000

# target at each row
df.apply(on_index, axis="index")

    age  time
0  1121   948
1  1141   957
2  1131   922
3  1155   939
4  1156   932
5  1151   943
6  1146   933
7  1120   942
8  1145   953
9  1136   953

In [13]:
def call_frequency(df : pd.DataFrame) -> str:
    count = df['Customer service calls']
    if count == 1.0:
        return "once"
    elif count == 2.0:
        return "twice"
    else:
        return "many times"
    

df = pd.read_csv("telco_churn.csv")
df.apply(call_frequency, axis='columns')

0             once
1             once
2       many times
3            twice
4       many times
           ...
3328         twice
3329    many times
3330         twice
3331         twice
3332    many times
Length: 3333, dtype: object