In [1]:
import pandas as pd

df = pd.read_csv('data/sample.csv')

# Data types

In [2]:
# a Series shows every column types
df.dtypes

student_no     int64
department    object
dtype: object

In [3]:
# or specify a column
df['student_no'].dtype

dtype('int64')

One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of strings do not get their own type; they are instead given the object type.

In [4]:
df['department'].dtype

dtype('O')

In [5]:
# index has type as well
df.index

Int64Index([0, 1, 2], dtype='int64')

# Convert dtype to another

In [6]:
# both works
df['student_no'].astype(float) == df['student_no'].astype('float')

0    True
1    True
2    True
Name: student_no, dtype: bool