In [2]:
import pandas as pd

df = pd.read_csv('data/sample.csv')
df

   student_no department
0           1   computer
1           2      music
2           3    medical

# rename column or index

Commonly the dataframe columns or index might not be the name you want. You can rename it easily.

- `df.rename(columns=dict)`
- `df.rename(index=dict)`

In [3]:
df.rename(columns={'student_no': 'num'})

   num department
0    1   computer
1    2      music
2    3    medical

In [4]:
df = df.rename(index={0: 'first', 1: 'second'})
df

        student_no department
first            1   computer
second           2      music
2                3    medical

Index is usually numbers. Let's reindex

In [5]:
df.index = [x for x in range(0, len(df.values))]

## Rename the index

In [6]:
df

   student_no department
0           1   computer
1           2      music
2           3    medical

In [8]:
df.rename_axis('index_col', axis='rows')

           student_no department
index_col
0                   1   computer
1                   2      music
2                   3    medical

In [10]:
df.set_index('department')

            student_no
department
computer             1
music                2
medical              3