[gist](https://gist.github.com/why-not/4582705)

# 創建 dataframe

In [1]:
import pandas as pd

dataframe = pd.read_csv("data/sample.csv")
        # pd.read_excel('tmp.xlsx')
dataframe

   student_no     department
0           1  computer|John
1           2      music|Jay
2           3   medical|Mary

In [22]:
type(dataframe)

pandas.core.frame.DataFrame

# 操控 dataframe

In [23]:
dataframe['department']

0    computer
1       music
2     medical
Name: department, dtype: object

In [24]:
type(dataframe['department'])

pandas.core.series.Series

In [27]:
# list-lie
dataframe['department'][0]

'computer'

# 資料篩選

In [28]:
dataframe[   dataframe['student_no'] == 1   ]

# select ... where

   student_no department
0           1   computer

In [29]:
bools = dataframe['student_no'] == 1

In [30]:
bools

0     True
1    False
2    False
Name: student_no, dtype: bool

In [31]:
dataframe[bools]

   student_no department
0           1   computer

In [2]:
df = dataframe
df

   student_no     department
0           1  computer|John
1           2      music|Jay
2           3   medical|Mary

In [6]:
def calc(string):
    return string.split("|")

df['dep'], df['name'] = zip(*df['department'].map(calc))
df

   student_no     department       dep  name
0           1  computer|John  computer  John
1           2      music|Jay     music   Jay
2           3   medical|Mary   medical  Mary

In [30]:
a = ['Wigan', 'Stoke', 'Bolton', 'West Brom', 'West Ham', 'Aston Villa',
       'Arsenal', 'Fulham', 'Manchester Utd', 'Hull', 'Sunderland',
       'Blackburn', 'Everton', 'Chelsea', 'Newcastle', 'Middlesbrough',
       'Liverpool', 'Portsmouth', 'Tottenham', 'Manchester City', 'Derby',
       'Birmingham', 'Reading', 'Wolves', 'Burnley', 'Blackpool',
       'Swansea', 'QPR', 'Norwich', 'Southampton', 'Cardiff',
       'Crystal Palace', 'Leicester', 'Bournemouth', 'Watford',
       'Huddersfield', 'Brighton', 'Sheffield Utd', 'Leeds', 'Brentford']

In [31]:
len(a)

40